<% /* WeChat-only share: show a QR code for page.permalink */ %>
<div class="wechat-share">
  <div class="wechat-share__title">微信扫码分享</div>
  <img
    class="wechat-share__qr"
    alt="WeChat QR"
    src="https://api.qrserver.com/v1/create-qr-code/?size=220x220&data=<%= encodeURIComponent(page.permalink) %>" />
</div>
